<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Grounding Exercises</div>
        <div class="panel-body">
            <ul>
                <br>
                <li>Take deep, calm breaths. </li>
                <li>Notice and list things in your surroundings. </li>
                <li>Expose yourself to strong, pleasant sensations, like a pleasing smell or a favorite blanket. </li>
                <li>Say out loud your name, your age, the date, and your location. List some things you've done today, or are going to do. </li>
                <li>Splash water on your face or run your hands under the faucet. -Do a body scan meditation, or pay close attention to each of your body parts one by one. </li>
                <li>Make tea. Feel the warmth of it in your hands, and the taste as you sip it calmly.</li> 
                <li>Listen to music.</li> 
                <li>Write in your journal. </li>
                <li>Take a mindful walk, either inside or outside. Pay close attention to your body and your surroundings. </li>
                <li>Squiggle. Wiggle around. Dance. Stretch. Be silly and active for a few minutes. </li>
                <li>Any other favorite grounding technique you've heard of or can think of. There's nothing wrong with experimenting!</li>
            </ul>
        </div>
    </div>
</div>
